<div class="container-fluid">
  <div class="champion-section text-center">
    <h1 class="title">EDICIÓN DE CAMPEÓN</h1>
    <p class="subtitle">Desde esta página podrá modificar datos</p>
    <hr>
    <p class="description">
      Para editar algún dato, basta con modificar los datos de formulario actualmente existentes.

    </p>

    <p class="description">
      No podrá guardar campos vacios, por lo que asegurese de que todos los campos estan rellenos
      antes de tratar de guardar.
    </p>
  </div>
</div>
