.champion-section {
  width: 100%;
  background-image: url('/assets/images/Kaisa.gif'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 600px; /* Asegura que haya altura para visualizar el fondo */

  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.champion-section .text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.champion-section .subtitle,
.champion-section .title,
.champion-section .description {
  color: white;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem; /* Aumentado ligeramente de 1rem */
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra sutil al texto */
}

.title {
  font-size: 3.5rem; /* Aumentado proporcionalmente de 3rem */
  font-weight: bold;
  color: #111;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra un poco más pronunciada */
}

.description {
  font-size: 1.2rem; /* Aumentado ligeramente de 1rem */
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra sutil para el cuerpo del texto */
}
