<section class="interest-links mt-5 text-center">

  <ul class="list-unstyled d-flex justify-content-center">
    <li class="mx-3">
      <a href="https://www.leagueoflegends.com/" target="_blank" class="text-decoration-none">League of Legends - Página Oficial</a>
    </li>
    <li class="mx-3">
      <a href="https://www.riotgames.com/" target="_blank" class="text-decoration-none">Riot Games - Página Oficial</a>
    </li>
    <li class="mx-3">
      <a href="https://www.leagueoflegends.com/en-us/champions/" target="_blank" class="text-decoration-none">Lista de Campeones de LoL</a>
    </li>
    <li class="mx-3">
      <a href="https://www.leagueoflegends.com/en-us/news/" target="_blank" class="text-decoration-none">Noticias de League of Legends</a>
    </li>
  </ul>
</section>
