<div class="container-fluid">
  <div class="champion-section text-center">
    <h1 class="title">BORRADO DE CAMPEONES</h1>
    <p class="subtitle">Desde esta página podrá borrar datos de campeones</p>
    <hr>
    <p class="description">
      Puede usar la barra de busqueda para buscar un campeón por su nombre.

    </p>

    <p class="description">
      Para borrar, basta con pinchar en el botón de la esquina superior derecha.
      Es importante recordar que esta acción es irreversible.
    </p>
  </div>
</div>
