:host {
  display: block;
  margin-top: 2rem;
  text-align: center;
  color: #6c757d;
}

.no-data-gif {
  width: 400px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.no-data-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.suggestion-text {
  font-size: 1rem;
  color: #868e96;
  margin-top: 0.5rem;
}
