<div class="container-fluid">
  <div class="champion-section text-center">
    <h1 class="title">AÑADA UN CAMPEÓN</h1>
    <p class="subtitle">Desde esta página puedes añadir los datos de un nuevo campeón a la wiki</p>
    <hr>
    <p class="description">
      Para añadir nuevos datos, basta con rellenar los campos de formulario.
    </p>
    <p class="description">
      Asegurese de que todos los campos del formulario estan rellenos, de otra forma no podrá guardar los datos
    </p>
  </div>
</div>
