<section class="container-fluid">

  <section class="container-fluid mt-5">
    <app-champion-section></app-champion-section>
  </section>


  <div *ngIf="isLoading" class="text-center mt-5">
    <app-placeholder></app-placeholder>
  </div>

  <div *ngIf="!isLoading && champions.length > 0" class="row gx-5 gy-5 justify-content-center">
    <div *ngFor="let champion of champions" class="col-lg-3 col-md-4 col-sm-6 text-center">
      <app-champion-card [champion]="champion"></app-champion-card>
    </div>
  </div>


  <div *ngIf="!isLoading && champions.length === 0">
    <app-no-data-message></app-no-data-message>
  </div>
</section>
