.section {
  margin-top: 40%;
}

.card {
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

#deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

input {
  border: solid 1px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

.card {
  background-color: #1e1e2f; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  border: none; /* Elimina bordes por defecto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para la tarjeta */
}

.card .card-position {
  color: #d1d1e0; /* Color más claro para el texto secundario */
}

.card button {
  background-color: #ff4d4f; /* Botón rojo */
  border-color: #ff4d4f; /* Borde del mismo color */
}

.card button:hover {
  background-color: #e04344; /* Rojo más oscuro al pasar el ratón */
}

