.card {
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

#deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

input {
  border: solid 1px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
