.champion-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  background: linear-gradient(to bottom, #000000, #0a0a40);
}

.champion-image-container {
  margin-bottom: 16px;
  border: 6px solid #ffd700; /* Borde dorado con grosor mayor */
  border-radius: 8px; /* Redondea las esquinas del borde */
  display: inline-block; /* Para que el borde rodee la imagen sin afectar otros elementos */
}

.champion-image {
  width: 100%;
  border-radius: 8px; /* Redondea las esquinas de la imagen */
  display: block; /* Elimina el espacio extra debajo de la imagen */
}

.champion-name {
  font-size: 1.5rem;
  color: #fff; /* Blanco para el texto */
  font-weight: bold;
  font-style: italic; /* Cursiva */
  text-transform: uppercase; /* Mayúsculas */
  background-color: #000; /* Fondo negro */
  padding: 8px; /* Espaciado alrededor del texto */
  border-radius: 4px; /* Bordes redondeados para el fondo negro */
}

.error-message {
  color: red;
  font-style: italic;
}

